<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="vcredist140"/>
	<package id="googlechrome"/>
	<package id="firefox"/>
	<package id="virtualbox"/>
	<package id="vagrant"/>
	<package id="mobaxterm"/>
	<package id="bitwarden"/>
	<package id="vscode"/>
	<package id="notepadplusplus"/>
	<package id="peazip"/>
	<package id="protonvpn"/>
	<package id="python3"/>
	<package id="spotify"/>
	<package id="steam"/>
	<package id="ubisoft-connect"/>
	<package id="vlc"/>
	<package id="wireguard"/>
	<package id="openssh"/>
	<package id="wsl"/>
	<package id="geforce-experience"/>
	<package id="jellyfin-media-player"/>
	<package id="sudo"/>
	<package id="git"/>
	<package id="ssh-copy-id"/>
	<package id="vim"/>
	<package id="pdfsam"/>
</packages>
